@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blanco: #fff;
  --principal: #f59e0b;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('/climas.png');
}

